html,
body {
    margin: 0;
    height: 100%;
}

a {
    cursor: pointer;
}

#lol {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#editor {
    overflow: auto;
    padding: 1em;
    resize: none;
    outline: none;
    flex: auto;
}

.toolbar {
    text-align: left;
    border: 1px solid #000;
    padding: 0 10px;
}

.toolbar a {
    text-align: center;
    font-family: 'Candal';
    color: black;
    padding: 5px;
    width: 1.5em;
    margin: 0 -2px;
    display: inline-block;
    text-decoration: none;
}

.toolbar a:hover {
    background: #f8f8f8;
}

a[data-command='redo'],
a[data-command='justifyRight'],
a[data-command='insertOrderedList'],
a[data-command='outdent'],
a[data-command='p'],
a[data-command='superscript'],
a[data-command='underline'] {
    margin-right: 5px;
}

a[data-command='undo'],
a[data-command='redo'],
a[data-command='justifyRight'],
a[data-command='justifyCenter'],
a[data-command='justifyLeft'],
a[data-command='insertimage'] {
    background-color: #f2f2f2;
}

/*-------------------------------*/

ul.menu {
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    margin: auto;
    padding: auto;
    list-style-type: none;
}
ul.menu > li {
    float: left;
    width: auto;
}
ul.menu > li a {
    display: block;
    width: auto;
    text-decoration: none;
}
ul.menu li:hover {
    background-color: #f2f2f2;
    transition-property: background-color;
    transition-duration: 0.33s;
}
ul.menu li:hover ul {
    visibility: visible;
    transition-duration: 0.33s;
    border: 1px solid black;
}

ul.sub-menu {
    text-align: left;
    padding: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    line-height: 28px;
    background-color: #fff;
    list-style-type: none;
}
ul.sub-menu > li {
    width: 120px;
}
ul.menu a,
ul.sub-menu a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0 10px;
}
